/* vars */
:root {
  --base-spacing: 1rem;
  --bg-clr: #1a3636;
  --accent-clr: #d6bd98;
  --btn-clr: #496a4e;
  --btn-x-pad: 3rem;
  --btn-y-pad: 0.75rem;
	--mobile-arm-width: 15rem;
  --arm-width: 17.5rem;
	--section-width: 25rem;
}

/* general styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  padding-inline: calc(var(--base-spacing) * 1.5);
  background-color: var(--bg-clr);
  color: var(--accent-clr);
}

hr {
	width: 100%;
  margin: 0 auto;
  margin-block: calc(1.5 * var(--base-spacing));
  color: var(--accent-clr);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: var(--base-spacing);
}

p {
	text-align: center;
	text-wrap: balance;
	margin-bottom: var(--base-spacing);
	font-size: larger;
}

form{
	width: 100%;
	margin: 0 auto;
}

button,
input {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--accent-clr);
  font-weight: 600;
  font-family: inherit;
	min-width: fit-content;
  width: var(--arm-width);
  padding-block: var(--btn-y-pad);
  padding-inline: var(--btn-x-pad);
  border-radius: 0.125rem;
  box-shadow: 2px 2px 2px 0 #40534c;
  background-color: var(--btn-clr);
  transition: all 100ms ease-in-out;
}

button:hover {
  scale: 1.08;
}

button:active {
  scale: 1.05;
}


/* classes */
.sub-title {
  width: 80%;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: var(--base-spacing);
}

.options-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: var(--base-spacing);
}

.option-section {
  width: var(--section-width);
  padding: var(--base-spacing);
  margin-top: var(--base-spacing);
  border-radius: 8px;
  border: 1px solid #677d6a;
  & > h3 {
    text-align: center;
    margin-bottom: var(--base-spacing);
  }
}

.sub-text {
  margin-bottom: 0;
  font-size: 0.725rem;
  opacity: 0.7;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--base-spacing);
}

/* .toggle-button {
  position: relative;
} */

.toggle-button {
/* TODO toggle by data-[] attribute */
}

.reset-button {
	background-color: transparent;
	box-shadow: none;
	border: 1px solid ;
}

.submitting-wrapper {
	display: flex;
	flex-direction: row;
	width: var(--section-width);
	gap: var(--base-spacing);
}

/* media queries */
@media (width < 1445px) {
  .options-wrappers {
    padding-inline: var(--base-spacing);
    flex-direction: column;
  }
}

@media (width < 680px) {
	.submitting-wrapper {
		flex-direction: column;
		align-items: center;
	}
}
